.lista{
    cursor:pointer;
    margin: 1px;
    box-shadow: 1px 10px 25px rgb(0 0 0 / 0.2);
    border-radius: 2px;
    cursor:pointer;
    transition: all 400ms ease;
}
.pie{
    
  text-align: center;
   
 }

.lista:hover{
     box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
     transform: translateY(-6%);
 }

.body{
    margin: auto;
    width: 100%;
    max-width: 100%;
    text-align: center;
    
}
