<ion-header>
  <ion-toolbar>
    <ion-title>Galeria de Imágenes</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="favorito"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
	<h3 *ngIf="images.length === 0" class="ion-padding ion-text-center">Imágenes</h3>

	<ion-list>
		<ion-item *ngFor="let file of images; let i = index">
			<ion-thumbnail slot="start">
				<ion-img [src]="file.data"></ion-img>
			</ion-thumbnail>
			<ion-label class="ion-text-wrap"> {{ file.name }} </ion-label>
			<!-- Este botón puede implementrarse en el futuro para cargara las imágenes al firebase Storage -->
			<!-- <ion-button slot="end" fill="clear" (click)="startUpload(file)">
				<ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
			</ion-button> -->
			<ion-button slot="end" fill="clear" (click)="borrarImagen(file)">
				<ion-icon slot="icon-only" name="trash"></ion-icon>
			</ion-button>
		</ion-item>
	</ion-list>
</ion-content>

<ion-footer>
	<ion-toolbar color="primary">
		<ion-button fill="clear" expand="full" color="light" (click)="seleccionarImagen()">
			<ion-icon slot="start" name="camera"></ion-icon>
			Cargar una nueva imagen
		</ion-button>
	</ion-toolbar>
</ion-footer>
